<!DOCTYPE html>
<html lang="en">
<head>
    <title>HTML</title>
    <!-- container for metadata
    title, css, link, scripts, meta and other
    -->
</head>
<body>

    <h1 align ="center">Title - 1</h1>
    <h2>Title - 2</h2>
    <p>Paragraph</p>
    <p><b>Bold</b></p>

<!-- -->

<ul>
    <li>
        MVC
    </li>
</ul>

<a href="https://google.com/"> Google </a>
<br>
    <br>

<!-- simple table -->

<table>

    <td>
        <tr>FirstName</tr>
        <br>
        <tr>LastName</tr>

    </td>


</table>


<label> Username:</label>
<input type="text" name="username id="username>

<input type="radio" name="gender" value="male"> Male
















</body>
</html>